<div class="container">
    <h2>Informations</h2>
    <span class="filters" *ngFor="let pill of filters"><i class="fa fa-times" aria-hidden="true" (click)="removeFilter(pill)"></i>{{pill.key}} : {{pill.value}}</span>           
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let user of userDetails" >
          <td><a routerLink="/users/{{user.id}}">{{user.firstname}}</a></td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>