.filters{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2px 10px;
    font-size: 12px;
    margin-right: 2px;
    line-height: 1.5;
    border-radius: .25rem;
    margin-bottom: 10px; 
}
.filters .fa.fa-times{
    padding-right: 5px;
}